<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>作用域插槽的使用</title>
    </head>
    <body>
        <div id="app">
            <cpn></cpn>
            <cpn>
                <!-- 获取子组件的Planguages -->
                <template slot-scope='slot'>
                    <span v-for='item in slot.data'>{{item}} -</span>
                </template>
            </cpn>
            <cpn>
                <!-- 获取子组件的Planguages -->
                <template slot-scope='slot'>
                    <span v-for='item in slot.data'>{{item}} *</span>
                </template>
            </cpn>
        </div>
        <template id='cpn'>
            <div>
                <slot :data='Planguages'>
                    <ul>
                        <li v-for='item in Planguages'>{{item}}</li>
                    </ul>
                </slot>
            </div>
        </template>
        <script src="../js/vue.js"></script>
        <script>
            const app = new Vue({
                el:'#app',//用于挂载要管理的元素
                data:{//定义数据
                },
                components:{
                    cpn:{
                        template:'#cpn',
                        data(){
                            return{
                                Planguages:['JavaScript','C++','Java','Pthyon','PHP']
                            }
                        }
                    }
                }
                
            })
        </script>
    </body>

</html>



