<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>vue组件通信-案例2</title>
    </head>
    <body>
        <div id="app">
          <cpn :cnum1='num1' :cnum2 = 'num2' @num1change = 'change1' @num2change = 'change2'></cpn>
          <h2>父组件:{{num1}}</h2>
          <h2>父组件:{{num2}}</h2>
        </div>
        <template id='cpn'>
          <div>
            
            <!-- 错误 -->
            <!-- <input type="number" v-model='cnum1'> -->
            <!-- 正确 -->
            <input type="number" :value='dnum1' @input='num1Input'>
            <h2>{{dnum1}}</h2>
            <!-- 错误 -->
            <!-- <input type="number" v-model='cnum2'> -->
            <!-- 正确 -->
            <input type="number" :value='dnum2' @input='num2Input'>
            <h2>{{dnum2}}</h2>
          </div>
        </template>
        <script src="../js/vue.js"></script>
        <script>
            const app = new Vue({
                el:'#app',//用于挂载要管理的元素
                data:{//定义数据
                   num1:1,
                   num2:0
                },
                components:{
                  cpn:{
                    template:'#cpn',
                    props:{
                      cnum1:{
                        type:Number,
                        default:1
                      },
                      cnum2:{
                        type:Number,
                        default:0
                      }
                    },
                    data(){
                      return{
                        dnum1:this.cnum1,
                        dnum2:this.cnum2
                      }
                    },
                    methods:{
                      num1Input(event){
                        this.dnum1 = event.target.value;
                        this.$emit('num1change',this.dnum1);
                      },
                      num2Input(event){
                        this.dnum2 = event.target.value;
                        this.$emit('num2change',this.dnum2);
                      }
                    }

                  }
                },
                methods:{
                  change1(dnum1){
                    this.num1 = dnum1;
                  },
                  change2(dnum2){
                    this.num2 = dnum2;
                  }
                }
                
            })
        </script>
    </body>

</html>



